:host {
  display: block;
}

ul {
  display: flex;
  height: 100%;

  li {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 16px;

    a {
      display: block;

      svg {
        display: block;
        width: 32px;
        height: 32px;

        path {
          fill: #F9F4F5;
        }
      }

      &:hover {
        svg {
          path {
            fill: darken(#F9F4F5, 5%);
          }
        }
      }
    }
  }
}
